body {
  margin: 0px;
  padding: 0px;
  font-family: "roboto", sans-serif;
  background-color: #333;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  
}
header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  padding: 1%;
  width: 100%;
 
}

header h1 {
  font-size: 2.8em;
  font-weight: 200;
  cursor: pointer;
}

header h1:hover {
  color: red;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  margin-right: 0.6em;
  font-size: 1.5em;
  white-space: nowrap;
}

header h1,
a {
  color: greenyellow;
  transition: 0.2s ease-in-out;
}

main {
  padding: 4%;
}

main .main-content h2 {
  margin-bottom: 4%;
  font-size: 2.2em;
  font-weight: 300;
  color: greenyellow;
  text-align: center;
}

main .techs .cards-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

main .techs .cards-container .card img {
  width: 80%;
}

main .techs .cards-container .card {
  width: 15vw;
  height: 10vw;
  padding: 2%;
  background-color: #eee;
  border-radius: 8px;
  margin-right: 1.8em;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: box-shadow 0.25s ease-in-out;
}

main .techs .cards-container .card:hover {
  box-shadow: 0px 0px 8px #00e0ff;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #00e0ff;
  text-decoration: none;
}

.text h2:hover {
  color: red;
}

.card {
  transition: transform 0.5s;
}
.card:hover {
  transform: scale(1.2);
}

section {
  font-size: 100%;
}

footer {
  background-color: #222;
  padding: 1%;
  display: flex;
  justify-content: center;
  width: 100%;
}

p {
  font-size: 120%;
}

strong {
  color: #00e0ff;
}

.foto {
  width: 15%;

  border-radius: 70%;
  margin-left: 44%;
  margin-top: 4%;
}
.foto:hover {
  transition: transform 0.5s;
  transform: scale(1.2);
  box-shadow: 0px 0px 8px #00e0ff;
}
